{% extends "pet_layout.html" %}
{% block body %}


<div class="card mb-1">
    
      <h1 class="card-title" style="text-align: center;">Welcome To Pet Store</h1>
    </div>
  </div>

    <br>
<!--     
    <p>To register your pet:</p>
    <button><a href="{{url_for('register')}}"> For register</a></button>
    <br>

    <nav>
        <a href="{{url_for('register')}}"> For register</a>
    </nav>
    
    <br>
    <nav>
        <a href="{{url_for('display')}}">For display pet details</a>
    </nav>
    <br>
    <nav>
        <a href="{{url_for('delete')}}">For delete pet details</a>
    </nav>
    <br>
    <nav>
        <a href="{{url_for('update')}}">For update pet details</a>
    </nav> -->

{% endblock %}